@font-face {
  font-family: 'UTM BryantLG';
  src: url('UTMBryantLGBold.woff2') format('woff2'),
    url('UTMBryantLGBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'UVF Aphrodite Pro';
  src: url('UVFAphroditePro.woff2') format('woff2'),
    url('UVFAphroditePro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SVN-Astronout';
  src: url('SVN-Astronout.woff2') format('woff2'),
    url('SVN-Astronout.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
