@import 'tailwindcss';

@theme {
  --color-dark: '#1a202c',
  --color-primary: '#007bff',
  --animate-title: title-animation 0.8s ease forwards;
  --animate-TranslateY: TranslateYAnimation 1s ease infinite;
  --animate-logoPulse: logoPulse 1s infinite alternate;
  --animate-logoPulse3s: logoPulse 3s infinite alternate;
  --animate-logoTextSkew: logoTextSkew 2.2s infinite alternate
      cubic-bezier(0.36, 0.07, 0.19, 0.97),
    logoTextGlow 2s infinite alternate;
  --animate-decorFloatReverse: decorFloatReverse 3s ease-in-out infinite alternate;
  --animate-decorFloatReverse2_5: decorFloatReverse 3s ease-in-out infinite alternate;
  --animate-decorFloatReverse1s: decorFloatReverse 2s ease-in-out infinite alternate;
  --animate-showOpacity: ShowOpacity 0.5s ease-in-out forwards;
  /* fadein */
  --animate-fadeInUp: fadeInUp 1s ease 0s 1 normal forwards;
  --animate-fadeInDown: fadeInDown 1s ease 0s 1 normal forwards;
  --animate-fadeInLeft: fadeInLeft 1s ease 0s 1 normal forwards;
  --animate-fadeInUpShow: fadeInUpShow 1s ease 0s 1 normal forwards;
  --animate-fadeInRight: fadeInRight 1s ease 0s 1 normal forwards;
  @keyframes fadeInUp {
    /* lên xuống */
    0% {
      opacity: 0;
      -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
  }
  @keyframes fadeInDown {
    /* xuống lên */
    0% {
      opacity: 0;
      -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
  }
  @keyframes fadeInLeft {
    /* trái phải */
    0% {
      opacity: 0;
      -webkit-transform: translateX(-20px);
      -ms-transform: translateX(-20px);
      transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
    }
  }
  
@keyframes fadeInUpShow {
  /* lên xuống */
  0% {
    opacity: 0.1;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
  @keyframes fadeInRight {
    /* phải trái */
    0% {
      opacity: 0;
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
    }
  }
  /*  */
  @keyframes title-animation {
    /* phóng to nhỏ */
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0) scale(1);
    }
    40% {
      transform: translateY(-10px) scale(1.1);
    }
    60% {
      transform: translateY(-5px) scale(1.02);
    }
  }
  @keyframes title-animation-1s {
    /* phóng to nhỏ */
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0) scale(1);
    }
    40% {
      transform: translateY(-10px) scale(1.1);
    }
    60% {
      transform: translateY(-5px) scale(1.02);
    }
  }
  @keyframes TranslateYAnimation {
    /* lên xuống */
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  @keyframes logoPulse {
    /* zomin zomout */
    0% {
      transform: scale(1);
      filter: brightness(1);
    }
    100% {
      transform: scale(1.1);
      filter: brightness(1.3);
    }
  }
  /* animation lức lư */
  @keyframes logoTextSkew {
    0% {
      transform: skew(0) skewY(0) scale(1);
    }
    20% {
      transform: skew(-6deg) skewY(2deg) scale(1.03);
    }

    40% {
      transform: skew(5deg) skewY(-2deg) scale(1.01);
    }
    60% {
      transform: skew(-4deg) skewY(3deg) scale(1.04);
    }
    80% {
      transform: skew(3deg) skewY(-2deg) scale(1.02);
    }
    100% {
      transform: skew(0) skewY(0) scale(1);
    }
  }
  @keyframes logoTextGlow {
    0% {
      filter: drop-shadow(0 0 8px #fff);
    }
    100% {
      filter: drop-shadow(0 0 24px #ffe066);
    }
  }
  /* len xuong 2 */
  @keyframes decorFloatReverse {
    0% {
      transform: translateY(0) scale(1);
    }

    50% {
      transform: translateY(-3%) scale(1.03);
    }
    100% {
      transform: translateY(0) scale(1);
    }
  }

  @keyframes ShowOpacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@-webkit-keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@-webkit-keyframes snowflakes-shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
  }
}
@keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@keyframes snowflakes-shake {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(80px);
  }
}
.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 5px #000;
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
  -webkit-animation-duration: 10s, 3s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
}
.snowflake:nth-of-type(0) {
  left: 1%;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s;
}
.snowflake:nth-of-type(1) {
  left: 10%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s;
}
.snowflake:nth-of-type(2) {
  left: 20%;
  -webkit-animation-delay: 6s, 0.5s;
  animation-delay: 6s, 0.5s;
}
.snowflake:nth-of-type(3) {
  left: 30%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s;
}
.snowflake:nth-of-type(4) {
  left: 40%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s;
}
.snowflake:nth-of-type(5) {
  left: 50%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s;
}
.snowflake:nth-of-type(6) {
  left: 60%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s;
}
.snowflake:nth-of-type(7) {
  left: 70%;
  -webkit-animation-delay: 2.5s, 1s;
  animation-delay: 2.5s, 1s;
}
.snowflake:nth-of-type(8) {
  left: 80%;
  -webkit-animation-delay: 1s, 0s;
  animation-delay: 1s, 0s;
}
.snowflake:nth-of-type(9) {
  left: 90%;
  -webkit-animation-delay: 3s, 1.5s;
  animation-delay: 3s, 1.5s;
}
.snowflake:nth-of-type(10) {
  left: 25%;
  -webkit-animation-delay: 2s, 0s;
  animation-delay: 2s, 0s;
}
.snowflake:nth-of-type(11) {
  left: 65%;
  -webkit-animation-delay: 4s, 2.5s;
  animation-delay: 4s, 2.5s;
}
.snowflake:nth-of-type(12) {
  left: 90%;
  -webkit-animation-delay: 3s, 1.5s;
  animation-delay: 3s, 1.5s;
}

@utility flex-center {
  @apply flex justify-center items-center;
}

@utility ab-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@utility text-grandient {
  background: linear-gradient(to bottom, #000, #000);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@utility text-title {
  @apply text-9xl font-bold
}

@utility text-description {
  @apply text-3xl font-semibold
}

.section {
  transition: 800ms ease;
  translate: -12.6% 0;
  opacity: 0;
  /* animation-timeline: view(); */
  /* animation-range: entry 0; */
  position: relative;
  left: -150px;
  &:not(.show) {
    translate: 0 0;
  }
}

.section.show{
  opacity: 1;
  translate: 12.6% 0;
}